.exo-secondary-nav-bar
  %ul
    %li
      %a.exo-button.exo-dark{:href => collection_path} 
        %span.exo-icon.exo-icon-search
        %span.exo-text All
    - if if_path(/#{collection_path.tr('/','\/')}\/\w+/) and (! if_path(/\/new\/?$/)) and resource
      %li
        %a.exo-button.exo-dark{:href => edit_resource_path(resource)} 
          %span.exo-icon.exo-icon-plus
          %span.exo-text Edit
      %li
        %a.exo-button.exo-dark{:href => resource_path, 'data-confirm' => "Are you sure?", 'data-method' => "delete"}
          %span.exo-text Destroy
    %li
      %a.exo-button.exo-dark{:href => new_resource_path}
        %span.exo-icon.exo-icon-plus
        %span.exo-text Add
    -# - if respond_to? :parent and parent
    -#   %li
    -#     %a.exo-button.exo-dark{:href => parent_url } Back to #{parent.class.try(:name).try(:humanize)}
