.exo-page-header
  .exo-page-title
    %h1
      - if resource.respond_to?(:as_page_title)
        Edit #{resource.as_page_title}
      - else
        Edit #{resource_class.name.titleize} ##{resource.id}
= render 'form'
